In [36]:
import json
import re
import pandas as pd
import numpy as np

pd.set_option("display.max_rows", 200)

In [ ]:
# location_translations 

"""
https://natural-resources.canada.ca/maps-tools-publications/maps/geographical-names-canada/translating-geographical-names

Translating Geographical Names
Generally in Canada, place names have one official language form: the name approved by a provincial or territorial naming authority. Exceptions to the rule are:

Geographical names of ‘pan-Canadian’ significance
Names of pan-Canadian significance have customary and well-known forms in both English and French. The list was established by the Treasury Board of Canada, and is maintained by the Geographical Names Board of Canada. The geographical names on this list are shown in both English and French on maps and in documents published by the Government of Canada. See the list of geographical names of pan-Canadian significance.

Names of national parks and national historic sites
National parks and national historic sites established by Parks Canada have an official name in English and in French.

Names of certain towns and cities
Most municipalities have only one official name adopted by the province or territory where the place is located, and this name should not be translated. However, certain municipalities have official names in both French and English, for example: Grand Falls and Grand-Sault in New Brunswick, and Greater Sudbury and Grand Sudbury in Ontario.

Names of undersea features
Some undersea features have an English and a French name approved by the Advisory Committee on Undersea Feature Names, one of the Geographical Names Board of Canada’s advisory committees.

Use of geographical names in Government of Canada documents
The principle governing the use of geographical names on maps and in documents published by the Government of Canada is to use the official form(s) of geographical names as adopted by the federal, provincial or territorial authorities of the Geographical Names Board of Canada.

Names of inhabited places retain their official form in English and French texts.

The use of names of pan-Canadian significance must be respected on both maps and in texts.

In text documents, it is permissible to translate the generic portion of name of a geographical feature. The generic portion of the name indicates the nature of the entity (for example the word “River” in the name “Bow River”). However, the specific portion of name does not get translated (for example, in the name of “Bow River”, the specific is the word “Bow”). In this example, the name “Bow River” could be translated as “rivière Bow” in a text.

You will find the list of English generics and their French equivalents in the document “Glossary of generic terms in Canada’s geographical names” published by the Translation Bureau of Public Services and Procurement Canada.

For more information concerning the rules for translating geographical names, please visit the Language Portal of Canada, a Translation Bureau initiative.

"""

In [ ]:
preferential_translations = {
    
}

In [24]:
# species_translations (this data is super messy)
# from https://www.dfo-mpo.gc.ca/species-especes/identify-eng.html

with open("all_aquatic_species.json", encoding="utf-8") as f:
    data = json.load(f)

def clean(name):
    name = name.lower()
    name = re.sub(r"\s*\(.*", "", name)
    return name.strip()

species_translations = pd.DataFrame([{
    "english": clean(x["name"]["english"]),
    "french": clean(x["name"]["french"]),
    "latin": clean(x["name"]["latin"])
} for x in data])

In [25]:
species_translations[species_translations.english.str.lower().str.contains("shark")].sort_values('latin')

,english,french,latin
383,common thresher shark,renard de mer,alopias vulpinus
396,thresher shark,renard marin,alopias vulpinus
393,brown cat shark,holbiche brune,apristurus brunneus
405,deepsea cat shark,roussette de profondeur,apristurus profundorum
403,oceanic whitetip shark,rameur,carcharhinus longimanus
404,dusky shark,requin obscur,carcharhinus obscurus
391,great white shark,grand requin blanc,carcharodon carcharias
261,white shark,grand requin blanc,carcharodon carcharias
402,portuguese shark,pailona,centroscymnus coelolepis
407,basking shark,requin pèlerin,cetorhinus maximus
34,basking shark,requin pèlerin,cetorhinus maximus
409,lanternshark,requin lanterne,etmopeteridae
390,greeneye shark,sagre diablotin,etmopterus villosus
242,tiger shark,requin-tigre,galeocerdo cuvier
386,sixgill shark,requin griset,hexanchus griseus
40,bluntnose sixgill shark,requin griset,hexanchus griseus
206,shortfin mako shark,requin-taupe bleu,isurus oxyrinchus
399,shortfin mako shark,requin-taupe bleu,isurus oxyrinchus
387,shortfin mako shark,requin-taupe bleu,isurus oxyrinchus
389,salmon shark,taupe du pacifique,lamna ditropis
388,sevengill shark,requin à sept branchies,notorynchus cepedianus
400,sand tiger shark,requin-taureau,odontaspis taurus / eugomphodus taurus / carch...
394,blue shark,requin bleu,prionace glauca
460,blue shark,requin bleu,prionace glauca
461,blue shark,requin bleu,prionace glauca
408,atlantic sharpnose shark,requin nez pointu,rhizoprionodon terraenovae
83,greenland shark,laimargue atlantique; requin du groenland,somniosus microcephalus
385,pacific sleeper shark,laimargue du pacifique,somniosus pacificus
87,hammerhead shark,requin-marteau commun,sphyrna zygaena
410,pacific angel shark,ange de mer du pacifique,squatina californica

In [28]:
# well, that's not right...
species_translations[species_translations.latin.str.lower().str.contains("lethenteron alaskense")]

                   english             french                  latin
378            hooded seal  phoque à capuchon  lethenteron alaskense
379            ringed seal      phoque annelé  lethenteron alaskense
380           harbour seal      phoque commun  lethenteron alaskense
381           bearded seal       phoque barbu  lethenteron alaskense
586  alaskan brook lamprey  lamproie d'alaska  lethenteron alaskense

In [42]:
species_translations[species_translations.duplicated("latin", keep=False)].groupby("latin").filter(lambda g: g["english"].nunique() > 1 or g["french"].nunique() > 1).sort_values('latin')

,english,french,latin
427,invasive tunicates,les tuniciers envahissants,
426,asian carp,carpe asiatique,
383,common thresher shark,renard de mer,alopias vulpinus
396,thresher shark,renard marin,alopias vulpinus
391,great white shark,grand requin blanc,carcharodon carcharias
261,white shark,grand requin blanc,carcharodon carcharias
192,rocky mountain sculpin,chabot des montagnes rocheuses,cottus bairdii
65,eastslope sculpin,chabot du versant est,cottus bairdii
191,rocky mountain sculpin,chabot des montagnes rocheuses,cottus bairdii
451,atlantic cod,morue franche,gadus morhua
452,atlantic cod,morue franche,gadus morhua
307,atlantic cod,morue nord-laurentienne,gadus morhua
308,atlantic cod,morue franche du sud laurentien,gadus morhua
309,atlantic cod,morue franche,gadus morhua
310,atlantic cod,morue franche,gadus morhua
588,atlantic cod,morue franche,gadus morhua
589,atlantic cod,morue franche,gadus morhua
306,atlantic cod,morue franche,gadus morhua
347,giant threespine stickleback,épinoche à trois épines géante,gasterosteus aculeatus
415,little quarry lake benthic threespine stickleback,épinoche benthique à trois épines du lac littl...,gasterosteus aculeatus
416,little quarry lake limnetic threespine stickle...,épinoche limnétique à trois épines du lac litt...,gasterosteus aculeatus
246,vananda creek benthic threespine stickleback,épinoche à trois épines benthique du ruisseau ...,gasterosteus aculeatus
244,unarmoured threespine stickleback,épinoche à trois épines lisse,gasterosteus aculeatus
345,enos lake limnetic threespine stickleback,épinoche à trois épines limnétique du lac enos,gasterosteus aculeatus
534,hadley lake benthic threespine stickleback,épinoche à trois épines benthique du lac hadley,gasterosteus aculeatus
165,paxton lake limnetic threespine stickleback,épinoche limnétique à trois épines du lac paxton,gasterosteus aculeatus
164,paxton lake benthic threespine stickleback,épinoche benthique à trois épines du lac paxton,gasterosteus aculeatus
535,hadley lake limnetic threespine stickleback,épinoche à trois épines limnétique du lac hadley,gasterosteus aculeatus
129,misty lake stickleback,épinoche du lac misty,gasterosteus aculeatus
128,misty lake stickleback,épinoche du lac misty,gasterosteus aculeatus
247,vananda creek limnetic threespine stickleback,épinoche à trois épines limnétique du ruisseau...,gasterosteus aculeatus
344,enos lake benthic threespine stickleback,épinoche à trois épines benthique du lac enos,gasterosteus aculeatus
386,sixgill shark,requin griset,hexanchus griseus
40,bluntnose sixgill shark,requin griset,hexanchus griseus
552,northern brook lamprey,lamproie du nord,ichthyomyzon fossor
631,northern brook lamprey,lamproie du nord,ichthyomyzon fossor
147,northern brook lamprey,la lamproie du nord,ichthyomyzon fossor
586,alaskan brook lamprey,lamproie d'alaska,lethenteron alaskense
378,hooded seal,phoque à capuchon,lethenteron alaskense
379,ringed seal,phoque annelé,lethenteron alaskense
380,harbour seal,phoque commun,lethenteron alaskense
381,bearded seal,phoque barbu,lethenteron alaskense
530,fourhorn sculpin,chabot à quatre cornes,myoxocephalus quadricornis
529,fourhorn sculpin,chaboisseau à quatre cornes,myoxocephalus quadricornis
254,westslope cutthroat trout,truite fardée,oncorhynchus clarkii lewisi
255,westslope cutthroat trout,truite fardée versant de l'ouest,oncorhynchus clarkii lewisi
572,westslope cutthroat trout,truite fardée versant de l'ouest,oncorhynchus clarkii lewisi
256,westslope cutthroat trout,truite fardée versant de l'ouest,oncorhynchus clarkii lewisi
422,steelhead trout,saumon arc-en-ciel,oncorhynchus mykiss
180,rainbow trout,truite arc-en-ciel,oncorhynchus mykiss
179,rainbow trout,truite arc-en-ciel,oncorhynchus mykiss
423,steelhead trout,saumon arc-en-ciel,oncorhynchus mykiss
490,sockeye salmon,saumon rouge,oncorhynchus nerka
489,sockeye salmon,saumon rouge,oncorhynchus nerka
488,sockeye salmon,saumon rouge,oncorhynchus nerka
487,sockeye salmon,saumon rouge,oncorhynchus nerka
486,sockeye salmon,saumon rouge,oncorhynchus nerka
491,sockeye salmon,saumon rouge,oncorhynchus nerka
492,sockeye salmon,saumon rouge,oncorhynchus nerka
484,sockeye salmon,saumon rouge,oncorhynchus nerka
471,sockeye salmon,saumon rouge,oncorhynchus nerka
472,sockeye salmon,saumon rouge,oncorhynchus nerka
473,sockeye salmon,saumon rouge,oncorhynchus nerka
485,sockeye salmon,saumon rouge,oncorhynchus nerka
475,sockeye salmon,saumon rouge,oncorhynchus nerka
476,sockeye salmon,saumon rouge,oncorhynchus nerka
477,sockeye salmon,saumon rouge,oncorhynchus nerka
478,sockeye salmon,saumon rouge,oncorhynchus nerka
224,sockeye salmon,saumon sockeye,oncorhynchus nerka
225,sockeye salmon,saumon sockeye,oncorhynchus nerka
493,sockeye salmon,saumon rouge,oncorhynchus nerka
479,sockeye salmon,saumon rouge,oncorhynchus nerka
480,sockeye salmon,saumon rouge,oncorhynchus nerka
481,sockeye salmon,saumon rouge,oncorhynchus nerka
482,sockeye salmon,saumon rouge,oncorhynchus nerka
483,sockeye salmon,saumon rouge,oncorhynchus nerka
474,sockeye salmon,saumon rouge,oncorhynchus nerka
467,chinook salmon,saumon chinook,oncorhynchus tshawytscha
468,chinook salmon,saumon chinook,oncorhynchus tshawytscha
466,chinook salmon,saumon chinook,oncorhynchus tshawytscha
439,chinook salmon,saumon chinook,oncorhynchus tshawytscha
464,chinook salmon,saumon chinook,oncorhynchus tshawytscha
605,chinook salmon,saumon chinook,oncorhynchus tshawytscha
50,chinook salmon,saumon quinnat,oncorhynchus tshawytscha
339,chinook salmon,saumon quinnat,oncorhynchus tshawytscha
606,chinook salmon,saumon chinook,oncorhynchus tshawytscha
432,chinook salmon,saumon chinook,oncorhynchus tshawytscha
465,chinook salmon,saumon chinook,oncorhynchus tshawytscha
433,chinook salmon,saumon chinook,oncorhynchus tshawytscha
435,chinook salmon,saumon chinook,oncorhynchus tshawytscha
436,chinook salmon,saumon chinook,oncorhynchus tshawytscha
437,chinook salmon,saumon chinook,oncorhynchus tshawytscha
438,chinook salmon,saumon chinook,oncorhynchus tshawytscha
463,chinook salmon,saumon chinook,oncorhynchus tshawytscha
434,chinook salmon,saumon chinook,oncorhynchus tshawytscha
178,lake utopia rainbow smelt,éperlan arc-en-ciel du lac utopia,osmerus mordax
450,lake utopia rainbow smelt,éperlan arc-en-ciel du lac utopia,osmerus mordax
26,american smelt,éperlan arc-en-ciel,osmerus mordax
590,atlantic salmon,saumon atlantique,salmo salar
317,atlantic salmon,saumon de l'atlantique,salmo salar
456,atlantic salmon,saumon atlantique,salmo salar
318,atlantic salmon,saumon atlantique,salmo salar
319,atlantic salmon,saumon de l'atlantique,salmo salar
320,atlantic salmon,saumon atlantique,salmo salar
321,atlantic salmon,saumon atlantique,salmo salar
315,atlantic salmon,saumon de l'atlantique,salmo salar
314,atlantic salmon,saumon de l'atlantique,salmo salar
316,atlantic salmon,saumon atlantique,salmo salar
313,atlantic salmon,saumon de l'atlantique,salmo salar
453,atlantic salmon,saumon atlantique,salmo salar
454,atlantic salmon,saumon atlantique,salmo salar
455,atlantic salmon,saumon atlantique,salmo salar
312,atlantic salmon,saumon atlantique,salmo salar
457,atlantic salmon,saumon atlantique,salmo salar
303,acadian redfish,sébaste d'acadie,sebastes fasciatus
440,acadian redfish bonne bay population,sébaste d'acadie population de la baie bonne,sebastes fasciatus
392,spiny dogfish,aiguillat commun,squalus suckleyi
142,north pacific spiny dogfish,aiguillat commun du pacifique nord,squalus suckleyi
441,atlantic bluefin tuna,thon rouge de l'atlantique,thunnus thynnus
39,bluefin tuna,thon rouge,thunnus thynnus

In [43]:
species_translations[species_translations.duplicated("latin", keep=False)].groupby("latin").filter(lambda g: g["english"].nunique() > 1 or g["french"].nunique() > 1).value_counts().sort_index(level=2)

english                                             french                                                   latin
asian carp                                          carpe asiatique                                                                          1
invasive tunicates                                  les tuniciers envahissants                                                               1
common thresher shark                               renard de mer                                            alopias vulpinus                1
thresher shark                                      renard marin                                             alopias vulpinus                1
great white shark                                   grand requin blanc                                       carcharodon carcharias          1
white shark                                         grand requin blanc                                       carcharodon carcharias          1
eastslope sculpin                                   chabot du versant est                                    cottus bairdii                  1
rocky mountain sculpin                              chabot des montagnes rocheuses                           cottus bairdii                  2
atlantic cod                                        morue franche                                            gadus morhua                    7
                                                    morue franche du sud laurentien                          gadus morhua                    1
                                                    morue nord-laurentienne                                  gadus morhua                    1
enos lake benthic threespine stickleback            épinoche à trois épines benthique du lac enos            gasterosteus aculeatus          1
enos lake limnetic threespine stickleback           épinoche à trois épines limnétique du lac enos           gasterosteus aculeatus          1
giant threespine stickleback                        épinoche à trois épines géante                           gasterosteus aculeatus          1
hadley lake benthic threespine stickleback          épinoche à trois épines benthique du lac hadley          gasterosteus aculeatus          1
hadley lake limnetic threespine stickleback         épinoche à trois épines limnétique du lac hadley         gasterosteus aculeatus          1
little quarry lake benthic threespine stickleback   épinoche benthique à trois épines du lac little quarry   gasterosteus aculeatus          1
little quarry lake limnetic threespine stickleback  épinoche limnétique à trois épines du lac little quarry  gasterosteus aculeatus          1
misty lake stickleback                              épinoche du lac misty                                    gasterosteus aculeatus          2
paxton lake benthic threespine stickleback          épinoche benthique à trois épines du lac paxton          gasterosteus aculeatus          1
paxton lake limnetic threespine stickleback         épinoche limnétique à trois épines du lac paxton         gasterosteus aculeatus          1
unarmoured threespine stickleback                   épinoche à trois épines lisse                            gasterosteus aculeatus          1
vananda creek benthic threespine stickleback        épinoche à trois épines benthique du ruisseau vananda    gasterosteus aculeatus          1
vananda creek limnetic threespine stickleback       épinoche à trois épines limnétique du ruisseau vananda   gasterosteus aculeatus          1
bluntnose sixgill shark                             requin griset                                            hexanchus griseus               1
sixgill shark                                       requin griset                                            hexanchus griseus               1
northern brook lamprey                              la lamproie du nord                                      ichthyomyzon fossor             1
                                                    lamproie du nord                                         ichthyomyzon fossor             2
alaskan brook lamprey                               lamproie d'alaska                                        lethenteron alaskense           1
bearded seal                                        phoque barbu                                             lethenteron alaskense           1
harbour seal                                        phoque commun                                            lethenteron alaskense           1
hooded seal                                         phoque à capuchon                                        lethenteron alaskense           1
ringed seal                                         phoque annelé                                            lethenteron alaskense           1
fourhorn sculpin                                    chaboisseau à quatre cornes                              myoxocephalus quadricornis      1
                                                    chabot à quatre cornes                                   myoxocephalus quadricornis      1
westslope cutthroat trout                           truite fardée                                            oncorhynchus clarkii lewisi     1
                                                    truite fardée versant de l'ouest                         oncorhynchus clarkii lewisi     3
rainbow trout                                       truite arc-en-ciel                                       oncorhynchus mykiss             2
steelhead trout                                     saumon arc-en-ciel                                       oncorhynchus mykiss             2
sockeye salmon                                      saumon rouge                                             oncorhynchus nerka             23
                                                    saumon sockeye                                           oncorhynchus nerka              2
chinook salmon                                      saumon chinook                                           oncorhynchus tshawytscha       16
                                                    saumon quinnat                                           oncorhynchus tshawytscha        2
american smelt                                      éperlan arc-en-ciel                                      osmerus mordax                  1
lake utopia rainbow smelt                           éperlan arc-en-ciel du lac utopia                        osmerus mordax                  2
atlantic salmon                                     saumon atlantique                                        salmo salar                    11
                                                    saumon de l'atlantique                                   salmo salar                     5
acadian redfish                                     sébaste d'acadie                                         sebastes fasciatus              1
acadian redfish bonne bay population                sébaste d'acadie population de la baie bonne             sebastes fasciatus              1
north pacific spiny dogfish                         aiguillat commun du pacifique nord                       squalus suckleyi                1
spiny dogfish                                       aiguillat commun                                         squalus suckleyi                1
atlantic bluefin tuna                               thon rouge de l'atlantique                               thunnus thynnus                 1
bluefin tuna                                        thon rouge                                               thunnus thynnus                 1
Name: count, dtype: int64

In [57]:
# why does the index change levels when you do this?
vc = species_translations.groupby("latin").value_counts().sort_index(level=0)
vc[vc > 1]

latin                         english                                        french
acipenser fulvescens          lake sturgeon                                  esturgeon jaune                                               9
acipenser oxyrinchus          atlantic sturgeon                              esturgeon noir                                                2
acipenser transmontanus       white sturgeon                                 esturgeon blanc                                              11
acroloxus coloradensis        rocky mountain capshell                        patelle d'eau douce pointue                                   2
amblyraja radiata             thorny skate                                   raie épineuse                                                 2
ammocrypta pellucida          eastern sand darter                            dard de sable                                                 3
balaena mysticetus            bowhead whale                                  baleine boréale                                               7
balaenoptera borealis         sei whale                                      rorqual boréal                                                3
balaenoptera musculus         blue whale                                     rorqual bleu                                                  2
balaenoptera physalus         fin whale                                      rorqual commun                                                3
catostomus platyrhynchus      mountain sucker                                meunier des montagnes                                         3
cetorhinus maximus            basking shark                                  requin pèlerin                                                2
coregonus clupeaformis        lake whitefish                                 grand corégone                                                9
coregonus lavaretus           european whitefish                             corégone européen                                             4
cottus bairdii                rocky mountain sculpin                         chabot des montagnes rocheuses                                2
couesius plumbeus             lake chub                                      méné de lac                                                   3
delphinapterus leucas         beluga whale                                   béluga                                                        7
dermochelys coriacea          leatherback sea turtle                         tortue luth                                                   2
eschrichtius robustus         grey whale                                     baleine grise                                                 6
fundulus diaphanus            banded killifish                               fondule barré                                                 2
gadus morhua                  atlantic cod                                   morue franche                                                 7
galeorhinus galeus            tope                                           milandre                                                      2
gasterosteus aculeatus        misty lake stickleback                         épinoche du lac misty                                         2
hippoglossoides platessoides  american plaice                                plie canadienne                                               4
hyperoodon ampullatus         northern bottlenose whale                      baleine à bec commune                                         3
ichthyomyzon castaneus        chestnut lamprey                               lamproie brune                                                3
ichthyomyzon fossor           northern brook lamprey                         lamproie du nord                                              2
ichthyomyzon unicuspis        silver lamprey                                 lamproie argentée                                             2
ictiobus cyprinellus          bigmouth buffalo                               buffalo à grande bouche                                       2
isurus oxyrinchus             shortfin mako shark                            requin-taupe bleu                                             3
lepomis cyanellus             green sunfish                                  crapet vert                                                   2
lepomis peltastes             northern sunfish                               crapet du nord                                                2
leucoraja ocellata            winter skate                                   raie tachetée                                                 8
macrhybopsis storeriana       silver chub                                    méné à grandes écailles                                       4
malacoraja senta              smooth skate                                   raie à queue de velours                                       5
megaptera novaeangliae        humpback whale                                 rorqual à bosse                                               3
morone saxatilis              striped bass                                   bar rayé                                                      3
myoxocephalus thompsonii      deepwater sculpin                              chabot de profondeur                                          7
odobenus rosmarus rosmarus    atlantic walrus                                morse de l'atlantique                                         4
oncorhynchus clarkii lewisi   westslope cutthroat trout                      truite fardée versant de l'ouest                              3
oncorhynchus mykiss           rainbow trout                                  truite arc-en-ciel                                            2
                              steelhead trout                                saumon arc-en-ciel                                            2
oncorhynchus nerka            sockeye salmon                                 saumon rouge                                                 23
                                                                             saumon sockeye                                                2
oncorhynchus tshawytscha      chinook salmon                                 saumon chinook                                               16
                                                                             saumon quinnat                                                2
orcinus orca                  killer whale                                   épaulard                                                      5
osmerus mordax                lake utopia rainbow smelt                      éperlan arc-en-ciel du lac utopia                             2
percina copelandi             channel darter                                 fouille-roche gris                                            4
percina shumardi              river darter                                   dard de rivière                                               3
phoca vitulina mellonae       harbour seal lacs des loups marins subspecies  phoque commun de la sous-espèce des lacs des loups marins     2
phocoena phocoena             harbour porpoise                               marsouin commun                                               2
prionace glauca               blue shark                                     requin bleu                                                   3
prosopium coulterii           pygmy whitefish                                corégone pygmée                                               7
quadrula quadrula             mapleleaf mussel                               feuille d'érable                                              2
salmo salar                   atlantic salmon                                saumon atlantique                                            11
                                                                             saumon de l'atlantique                                        5
salvelinus confluentus        bull trout                                     omble à tête plate                                            5
salvelinus malma              dolly varden                                   dolly varden                                                  2
sebastes maliger              quillback rockfish                             sébaste à dos épineux                                         2
sebastes mentella             deepwater redfish                              sébaste atlantique                                            2
sebastes ruberrimus           yelloweye rockfish                             sébaste aux yeux jaunes                                       2
squalus acanthias             spiny dogfish                                  aiguillat commun                                              2
thaleichthys pacificus        eulachon                                       eulakane                                                      3
urophycis tenuis              white hake                                     merluche blanche                                              3
Name: count, dtype: int64

In [19]:
with open("all_aquatic_species.json", encoding="utf-8") as f:
    data = json.load(f)

df = pd.DataFrame([{
    "english": x["name"]["english"],
    "french": x["name"]["french"],
    "latin": x["name"]["latin"]
} for x in data])

In [21]:
df[df.duplicated("latin", keep=False)].groupby("latin").filter(lambda g: g["english"].nunique() > 1 or g["french"].nunique() > 1).sort_values('latin')

,english,french,latin
426,Asian Carp,Carpe asiatique,
427,Invasive Tunicates,Les Tuniciers Envahissants,
105,Lake Sturgeon (Great Lakes – Upper St. Lawrenc...,Esturgeon jaune (populations des Grands Lacs e...,Acipenser fulvescens
107,Lake Sturgeon (Nelson River populations),Esturgeon jaune (populations de la rivière Nel...,Acipenser fulvescens
108,Lake Sturgeon (Red-Assiniboine River - Lake Wi...,Esturgeon jaune (populations de la rivière Rou...,Acipenser fulvescens
...,...,...,...
39,Bluefin Tuna,Thon rouge,Thunnus thynnus
441,Atlantic Bluefin Tuna,Thon rouge de l'Atlantique,Thunnus thynnus
260,White Hake (Southern Gulf of St. Lawrence),Merluche blanche (sud du golfe du Saint-Laurent),Urophycis tenuis
258,White Hake,Merluche blanche,Urophycis tenuis
259,White Hake (Atlantic and Northern Gulf of St. ...,Merluche blanche (Atlantique et nord du golfe ...,Urophycis tenuis